<!DOCTYPE html>
<html>
  <head>
    <title>BankSimulator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div> <a href='/index/home'> Home</a>  </div>
    <div> <a href='/store/index'> Shop</a> </div>

    <h1> Welcome </h1>

    <div> Balance: <%= current_user.balance%> </div>
    <%= yield %>
  </body>
</html>
